.reviews {
    padding: 0 0 70px 0;
    &__wrapper {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        margin-top: 100px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__img {
        max-width: 169px;
        margin: 10px 60px 0 0;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__achieve {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        margin-top: 14px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
}